@import 'variables';
@import 'mixins';

.shop {
	&__intro {
		background-image: 
			url("../../../assets/img/shop__bg.jpg"), 
			linear-gradient($light-base 0%, $light-medium 40%, $white 100%);
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		background-size: cover;
		height: 60vh;
	}
	&__groups {
		overflow: hidden;
	}
	&__group {
		@include shadow($top: false);
		height: 22rem;
		margin: 1.5rem 0;
		@include media-small {
			height: 60vh;
		}
	}
}
.intro {
	&__content {
		background: rgba(255, 255, 255, 0.6);
		border: 1px solid $white;
		border-radius: 0.75rem;
		padding: 4rem 8rem;
		text-align: center;
		max-width: 60%;
		@include media-medium {
			padding: 2rem 4rem;
		}
		@include media-small {
			padding: 2rem;
			max-width: 80%;
		}
	}
	&__title {
		@include font-h1;
		@include media-medium {
			@include font-h2;
		}
	}
}
