<div class="popup closed">
  <div class="popup__container">
    <div class="popup__container--inner">
      <div class="popup__close">&times;</div>
      <div class="popup__signin closed">
        <div class="popup__content">
          <h2 class="popup__title title">Welcome</h2>
          <p class="popup__text">Sign in with your email</p>
        </div>
        <div class="popup__error error" id="errorContainerSignin">
          <i class="error__icon fas fa-exclamation-triangle"></i>
          <p class="popup__text error__text"></p>
        </div>
        <form class="popup__form form">
          <div class="form__item">
            <input type="email" id="loginEmail" class="form__field" placeholder="Jane Austin" name="email">
            <label for="loginEmail" class="form__label">Email</label>
          </div>
          <div class="form__item">
            <input type="password" id="loginPass" class="form__field" placeholder="********" name="pass">
            <label for="loginPass" class="form__label">Password</label>
          </div>
          <button id="loginSubmit" class="form__button button button--dark button--signin" type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
