@import 'variables';
@import 'mixins';

.logo {
  color: $white;
  font: {
    size: 2rem;
    weight: 400;
  }
  letter-spacing: 0.125rem;
  line-height: 2rem;
  &-small {
    display: block;
    font: {
      size: 1.125rem;
      weight: 200;
    }
    line-height: 1.125rem;
    margin-top: 5px;
    text-align: center;
  }
}
.navbar-toggler {
  border-color: $white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menu {
  li > a {
    position: relative;
    color: $white;
    @include font-base;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
      color: $light-medium;
    }
    &.active {
      &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        background: $light-medium;
        border: none;
        height: 2px;
      }
    }
  }
}

.iswhite {
  background-color: hsla(0,0%,100%,.95);
  color: $black;
  transition: 0.5s;
  .logo {
    color: $dark-medium;
    &-small {
      color: $light-medium;
    }
  }
  .menu {
    li > a {
      color: $dark-medium;
      &:hover {
        color: $light-medium;
      }
    }
  }
}