<div class="shop__group group my-3">
  <div class="group__column group__column--narrow">
    <img class="group__image" [alt]="section.title" [src]="section.img">
  </div>
  <section class="group__column group__column--wide">
    <div class="group__content"> 
      <h3 class="group__title title">{{ section.title }}</h3>
      <p class="group__text text">{{ section.text }}</p>
    </div>
  </section>
  <div class="group__cta">
    <a class="group__link" data-id="${section.id}"
      routerLink="/{{section.id}}"
    >See Products</a>
  </div>
</div>